body{
    padding: 0;
    margin: 0;
    background: #272b30;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    h1{
        font-size: 40px;
    }
    p{
        font-size: 25px;
    }
    .content-box{
        display: flex;
        .content{
            text-align: center;
            a{
                text-decoration: none;
                color: whitesmoke;
                img{
                    width: 60%;
                }
                p{
                    font-size: 30px;
                }
            }
            
        }
    }
}